/* =========================
   TABLETS
========================= */

@media screen and (max-width: 992px){

    header{
        padding:15px 5%;
    }

    .banner h2{
        font-size:4rem;
    }

    .detalle-card{
        grid-template-columns:1fr;
    }

    .detalle-imagen img{
        max-height:500px;
    }

}

/* =========================
   MÓVILES
========================= */

@media screen and (max-width:768px){

    /* HEADER */

    header{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    /* BANNER */

    .banner{
        min-height:60vh;
        padding:20px;
    }

    .banner h2{
        font-size:3rem;
    }

    .banner p{
        font-size:1rem;
    }

    /* PRODUCTOS */

    .contenedor-productos{
        grid-template-columns:1fr;
    }

    .producto img{
        height:350px;
    }

    /* BUSCADOR */

    #busqueda{
        max-width:100%;
    }

    /* FILTROS */

    .contenedor-categorias{
        flex-direction:column;
        align-items:center;
    }

    .btn-filtro{
        width:220px;
    }

    /* DETALLE */

    .detalle-card{
        padding:20px;
    }

    .detalle-info h2{
        font-size:2rem;
    }

    /* CARRITO */

    #contenedor-carrito .producto{
        flex-direction:column;
        text-align:center;
    }

    #contenedor-carrito .producto img{
        width:180px;
        height:250px;
    }

    /* FORMULARIO */

    #formulario-contacto{
        padding:25px;
    }

}

/* =========================
   CELULARES PEQUEÑOS
========================= */

@media screen and (max-width:480px){

    .banner h2{
        font-size:2.2rem;
    }

    .logo h1{
        font-size:1.8rem;
    }

    .btn{
        width:100%;
        text-align:center;
    }

    #resumen-carrito .btn{
        display:block;
        width:100%;
        margin:10px 0;
    }

    .contacto h2,
    .destacados h2,
    .categorias h2{
        font-size:1.8rem;
    }

}